@import "_variables";
@import "_mixins";

*{
	margin:0;
	padding: 0;
	@include border-box;
}
body{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	font-size: 15px;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.diagonals {
	position: absolute;
	z-index: -1;
	width: 100%;
	display: grid;
	transform: skewY(-7deg);
}

a{
	cursor: pointer;
	text-decoration:none;
}

#home{
	background-image: url("../img/background-home.svg");
	background-color: white;
	background-position: center bottom 20px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	width: 100%;
	nav{
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		margin-top:0;
		padding-top:0;
		color: #fff;
		height: 80px;
		z-index: 1000;
		background: none;
		@include transition-cubic-bezier;
		.home__nav--bar{
			padding: 0;
			z-index: 2000;
			margin-top: 0;
			width: 100%;
			height: 100px;
			background: transparent;
			@include transition-cubic-bezier;
			-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
			-moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
			transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
			@media (min-width: 670px) {
				padding: 20px 0;
			}
			#logo{
				display: none;
			}
			#toggle{
				height: 74px;
				padding: 18px 18px;
				z-index: 2000;
				cursor: pointer;
				position: absolute;
				top:0;
				right:0;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				-webkit-transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1);
				transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1);
				//@include transition-cubic-bezier;
				@media (min-width: 670px) {
					padding: 26px 42px;
				}
				.menu{
					position: relative;
					height: 2px;
					width: 17px;
					text-align: right;
					margin: 10px 0;
					background: white;
					transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					@media (min-width: 670px) {
						height: 4px;
						width: 24px;
					}
					&:before{
						top:-5px;
						@media (min-width: 670px) {
							top:-8px;
						}
					}
					&:after{
						top: 5px;
						@media (min-width: 670px) {
							top: 8px;
						}
					}
					&:before,
					&:after{
						content: '';
						width: 17px;
						height: 2px;
						z-index: -1;
						display: block;
						position: absolute;
						background: white;
						transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						-webkit-transition: all 0.3s ease-in-out;
						@media (min-width: 670px) {
							width: 24px;
							height: 4px;
						}
					}
				}
				&:hover{
					transition: top 0.4s;
					-webkit-transition: top 0.4s;
					-o-transition: top 0.4s;
					-moz-transition: top 0.4s;
					.menu{
						&:before{
							top: -6px;
							@media (min-width: 670px) {
								top: -9px;
							}
						}
						&:after{
							top: 6px;
							@media (min-width: 670px) {
								top: 9px;
							}
						}
					}
				}
			}
		}
		.home__nav--background{
			top: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: 1500;
			display: table;
			background: none;
			position: absolute;
			transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
			-webkit-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
			-moz-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
			-o-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
			ul{
				top: -10%;
				padding: 0;
				opacity: 0;
				width: 100%;
				text-align: center;
				visibility: hidden;
				display: table-cell;
				vertical-align: middle;
				transform: perspective(600px) rotateX(10deg);
				-webkit-transform: perspective(600px) rotateX(10deg);
				
				-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
				-moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
				-o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
				transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
				li{
					visibility: hidden;
					a{
						color: white;
						width: 100%;
						display: block;
						padding: 8px 0 0;
						letter-spacing: -0.06em;
						&:hover{
							text-decoration: none;
							color:#43458b;
							background-color: white;
						}
					}
				}
			}
		}
		&.open{
			height: 100%;
			transition: none;
			-o-transition:none;
			-moz-transition:none;
			-webkit-transition:none;
			.menu{
				background: none !important;
				&:after{
					top:0 !important;
					background: #fff !important;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
				&:before{
					top:0 !important;
					background: #fff !important;
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
			.home__nav--background{
				opacity: 1;
				background-color:rgba(225, 162, 78, 0.91)!important;
				transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
				ul{
					top: 0;
					opacity: 1;
					margin-top: 0;
					visibility: visible;
					transform: perspective(600px) rotateX(0deg);
					-webkit-transform: perspective(600px) rotateX(0deg);
					-moz-transform: perspective(600px) rotateX(0deg);
					-ms-transform: perspective(600px) rotateX(0deg);
					-o-transform: perspective(600px) rotateX(0deg);
					li {
						color: #fff;
						font-size: 40px;
						@media (min-width: 670px) {
							font-size: 60px;
						}
						visibility: visible !important;
						a{
							position: relative;
							&:after{
								content: ".";
								color: #32325d;
								font-size: 13rem;
								position: absolute;
								bottom: -24px;
								@media (min-width: 670px) {
									bottom: -14px;
								}
								&:hover{
									color: #E1A24E;
								}
							}
							
						}
					}
				}
			}
		}
		.top-nav-collapse {
			box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
			height: 56px;
			@media (min-width: 670px) {
				height: 77px;
			}
			background-color: rgba(225, 162, 78, 0.47);
			#logo{
				display: inline-block;
				padding: 15px 17px;
				font-size: 18px;
				color: white;
				@media (min-width: 670px) {
					padding: 0 42px;
					font-size: 21px;
					height: 74px;
				}
			}
		}
	}
	.home__contenido{
		display: flex;
		align-items: center;
		height: 100vh;
		.center-block{
			@media (min-width: 900px) {
				width: 632px;
				max-width: 935px;
			}
		}
		.title{
			padding: 0;
			font-size: 4rem !important;
			font-weight: 700;
			color: #FFF !important;
			@media (min-width: 670px) {
				font-size: 7rem !important;
			}
		}
		.subtitle{
			font-size: 18px;
			color: #2b355f;
			@media (min-width: 670px) {
				font-size: 32px;
			}
		}
		.network-links {
			margin-top: 30px;
			li {
				display: inline-block;
				padding: 0;
				text-align: center;
				a{
					width: 38px;
				}
			}
		}
		a.btn{
			animation: heartbeat 1.7s infinite ease-in;
			text-decoration: none;
			transition: all .5s ease-out;
			color: #FFF;
			max-height: 38px;
			font-size: 24px;
			padding: 0;
			&:hover{
				color: #2b355f;
				transform: scale(1.2);
			}
		}
	}
}
#cite {
	padding-top: 95px;
	margin-bottom: 250px;
	color:#c4c8d8;
	@media (min-width: 670px) {
		margin-bottom: 0;
		height: 500px;
	}
	h3{
		font-size: 21px;
		color: #32325d;
		font-weight: 300;
		@media (min-width: 670px) {
			font-size: 24px;
		}
		i{
			font-size: 12px;
			@media (min-width: 670px) {
				font-size: 20px;
			}
		}
	}
	svg{
		position: absolute;
		top: 0;
		left: 0;
		fill: rgba(107, 124, 147, 0.23);
		z-index: -1;
		@media (min-width: 670px) {
			display: none;
			top:-88px;
		}
	}
}
#editor{
	display: flex;
	margin: 20px 0;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	//box-shadow: 0 2px 4px rgba(50,50,93,.1);
	.custom-line-numbers {
		list-style: none;
		text-align: right;
		background: rgb(238, 234, 249);
		color: #946af7;
		//background: #f2feef;
		//color: #5dc79e;
		border-radius: 2px 0 0 2px;
		padding: 12px;
		font-size: 13px;
		line-height: 1.5;
	}
	code{
		display: block;
		overflow: auto;
		padding: 12px;
		font-size: 13px;
		line-height: 1.5;
		color: #6b7c93;
		background-color: #FFF;
	}
	code, pre {
		font-family: Source Code Pro,Consolas,Menlo,monospace;
	}
	pre{
		margin: 0;
		padding: 0;
		display: flex;

		&>*{
			padding: 12px;
			font-size: 13px;
			line-height: 1.5;
		}

	}
}
#about{
	.panel{
		color:#32325d;
		.panel-profile-img {
			max-width: 100%;
			margin-top: -161px;
			margin-bottom: 20px;
			border: 3px solid #fff;
			border-radius: 50%;
		}
	}

	.diagonals {
		background-color: #4b3958;
		background: -webkit-linear-gradient(top left,#000936,#4b3958 50%,#894671);
		background: linear-gradient(to bottom right,#000936,#4b3958 50%,#894671);
		height: 900px;
		align-content: space-between;
		//background: linear-gradient(90deg, #fff, #f5f5ff);
	}
	.container{
		display: flex;
		align-items: center;
		flex-direction: column;
		.card{
			width: 686px;
			max-width: 935px;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			margin-top: -180px;
			background-color: #FFF;
			box-shadow: 0 55px 70px -20px rgba(50,50,93,.55), 0 20px 30px -10px rgba(0,0,0,.14);
			@media (min-width: 1000px) {
				width: 935px;
				max-width: 935px;
			}
			div:nth-child(1){
				height: 256px;
				@media (min-width: 1000px) {
					height: 350px;
				}
			}
			.about__photo{
				@media (min-width: 670px) {
					border-bottom-left-radius: 10px;
					border-top-left-radius: 10px;
					background-repeat: no-repeat;
					background-image: url(../img/retol.png);
					background-size: contain;
					background-position: center left;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					
				}
			}
			.about__description{
				align-items: center;
				display: flex;
				justify-content: center;
				font-size: 16px;
				color:#32325d;
				padding: 40px;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #fff;
				left: 0;
				top: 0;
				transform: skew(-12deg);
				transform-origin: 0 0;
				pointer-events: none;
				border-top-right-radius: 10px;
				.about__description--info{
					transform: skew(12deg);
				}
			}
		}
		.skills{
			margin-top: 90px;
			margin-bottom: 50px;
			.skills__title{
				color: #FFF;
				margin-bottom: 40px;
				padding-left: 78px;
				position: relative;
				h2{
					font-size: 25px;
					//letter-spacing: 2px;
						//text-transform: uppercase;
				}
				figure{
					top: -20px;
					position: absolute;
					margin: 0;
					left: 0;
				}
				.phrase{
					color: #E1A24E;
				}
			}
			.skills__description{
				color: #bdcfe8;
				text-align: justify;
				@media (min-width: 768px) {
					padding-left: 78px;
				}
				a{
					color: #bdcfe8;
					font-weight: 700;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.skills__list{
				margin-top: 107px;
				.skills__contenido--description{
					padding: 20px;
					//color: #6b7c93;
					color: #bdcfe8;
					ul{
						list-style: none;
						li {
							position: relative;
							padding-left: 28px;
							line-height: 26px;
							&:before {
								content: url('../img/checkmark.svg');
								position: absolute;
								top: 3px;
								left: 0;
								width: 19px;
							}
						}
					}
				}
			}
		}
	}
	.gris{
		background-color: #eaf2f3;
		.barra{
			padding-top: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			width:100%;
			img{
				width: 700px;
			}
		}
	}
}
#projects {
	margin-top: 80px;
	margin-bottom: 80px;
	.featurette-divider {
		margin: 80px 0;
	}
	.lead{
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: 15px;
		text-align: justify;
		color:#32325d;
		@media (min-width: 670px) {
				//text-align: left;
		}
	}
	
	.featurette-heading {
		font-weight: 700;
		text-align: center;
		color:#32325d;
		line-height: 1;
		letter-spacing: 2px;
		@media (min-width: 992px) {
			font-weight: 700;
			margin-top: 120px;
		}
		@media (min-width: 768px) {
			text-align: left;
			font-size: 50px;
		}
		.text-muted{
			letter-spacing: 0;
			font-weight: 400;
			font-size: 25px;
			color: #E1A24E;
			@media (min-width: 768px) {
				font-size: 40px;
			}
		}
	}
	.video-phone{
		background: url(../img/iphone.png) no-repeat 0 0;
		background-size: 334px 639px;
		width: 373px;
		height: 646px;
		padding: 85px 53px 22px 14px;
		video {
			height: 81%;
		}
		
	}
	.video-laptop{
		background: url(../img/laptop.png) no-repeat 0 0;
		background-size: 797px 490px;
		width: 803px;
		height: 492px;
		padding: 43px 9px 0px 1px;
		video {
			height: 83%;
		}
	}
	.video-phone,
	.video-laptop{
		position: relative;
		//top: 107px;
		display: inline-block;
		.video-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			display: block;
			overflow: hidden;
			video{
				position: absolute;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}
	}
	.buttons{
		margin-bottom: 20px;
		display: flex;
		justify-content: space-around;
		@media (min-width: 670px) {
			justify-content: space-between;
		}
		.btn-draw {
			text-decoration: none;
			@include btn-draw( #E1A24E,#32325d, 2px);
		}
	}
	
}



#contact{
	color: #32325d;
	background-color: #f8fafd;
	.contact__description{
		height: 100vh;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		@media (min-width: 670px) {
			height: 300px;
		}
		.mg-2em{
			margin: 2em 0;
		}
		.contact_title{
			font-size: 20px;
			font-weight: 700;
			margin: 1em 0;
			color: #32325d;
			text-transform: uppercase;
			letter-spacing: .1em;
			line-height: 40px;
			border-bottom: solid 1px rgba(137, 148, 198, 0.5);
		}
		.contact__description--info{
			:nth-child(1),
			:nth-child(2) {
				margin-bottom: 15px;
			}
		}
		p{
			margin:0;
			font-size: 15px;
		}
		.network-links {
			li {
				display: inline-block;
				padding: 0;
				text-align: center;
				a{
					width: 38px;
				}
			}
		}
		a.btn{
			text-decoration: none;
			transition: all .5s ease-out;
			color: #8994c6;
			max-height: 38px;
			font-size: 24px;
			padding: 0;
			&:hover{
				color: #32325d;
				transform: scale(1.2);
			}
		}
		a.email{
			transition: all .5s ease-out;
			font-weight: 700;
			color: #32325d;
			&:hover{
				color: #000;
				transform: scale(1.2);
				background-size: 100% 2px;
			}
		}
	}
}
#footer{
	background-color: #32325d;
	#32325d
	.container{
		height: 83px;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__copy{
		font-size: 14px;
		margin-bottom: 20px;
		padding-top: 20px;
		color: #eaeaea;
		@media (min-width: 670px) {
			font-size: 15px;
		}
		i{
			color:#E1A24E;
			-webkit-animation: heartbeat 1.7s infinite ease-in;
			animation: heartbeat 1.7s infinite ease-in;
			
		}
	}
}

