@import "_animation";
@import "_variables";
@import "_mixins";

*{
	margin:0;
	padding: 0;
	@include border-box;
}
.diagonals {
	position: absolute;
	z-index: -1;
	width: 100%;
	display: grid;
	transform: skewY(-12deg);
}

header{
	.diagonals {
		top: 0;
		grid: repeat(4,200px)/repeat(10,1fr);
		transform-origin: 0;
		//background: linear-gradient(#507eb1,#709dc7 10%,#dde9f5 38%,#eaf2f9 48%,#f6f9fc 62%);
		background: linear-gradient(90deg,#946af7,#ffabf4);
		:nth-child(1) {
			grid-column: span 3;
			//background: linear-gradient(100grad,rgba(243,251,255,.4),rgba(243,251,255,.15) 20%,rgba(243,251,255,0));
			background: linear-gradient(90deg,#9128d4,#b778ff);
		}
		:nth-child(2) {
			grid-area: 3/span 3/auto/-1;
			background: linear-gradient(90deg, rgba(236, 151, 225, 0), #ffbe8a);
			//@media (min-width: 670px) {
				//background: linear-gradient(100grad, rgba(0, 119, 204, 0), rgba(0, 119, 204, .05) 40%, rgba(0, 119, 204, .35));
			//}
		}
		:nth-child(3) {
			grid-row: 4;
			grid-column: span 5;
			background: linear-gradient(90deg,#f783c3,#f399ff);
			//@media (min-width: 670px) {
			//	//background: linear-gradient(100grad,#fff 50%,hsla(0,0%,100%,0));
			//}
		}
		:nth-child(4) {
			grid-area: 4/span 5/auto/-1;
			background: linear-gradient(90deg,#fff,#f5f5ff);
			//@media (min-width: 670px) {
			//	//background: linear-gradient(100grad,rgba(0,119,204,0) 10%,rgba(0,119,204,.05));
			//}
		}
		:nth-child(5) {
			grid-area: auto/1/-1/-1;
			background: linear-gradient(100grad,#fff 80%,#f5fafd);
		}
	}
	.jumbotron{
		height: 100vh;
		display: flex;
		align-items: center;
		background-color: transparent;
		.title{
			text-transform: uppercase;
			font-size: 10rem !important;
			font-family: 'Lato', sans-serif;
			color: #1d1d5c !important;
			font-weight: bold;
		}
		.subtitle{
			font-size: 32px;
			color: #f9e7ff;
			//font-family: 'Raleway', sans-serif;
			font-weight: lighter;
			@media (min-width: 670px) {
				font-size: 40px;
				line-height: 50px;
			}
		}
		.buttons{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			:nth-child(1) {
				margin-right: 10px;
				background: #fff;
				color: #DDBA59;
			}
			.btn{
				font-weight: 200;
				transform: translateY(-1px);
				box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
				border-radius: 4px;
				cursor: pointer;
				&:hover {
					transform: translateY(1px);
					box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

				}
			}
			.atc{
				background-color: #DDBA59;
				color:white;
				&:hover{
					color: #FFF;
				}
			}
		}
	}

}

#about{
	position: relative;
	//margin-top: 70px;
	//@media (min-width: 880px){
	//	margin-top: 170px;
    //
	//}
	//@media (min-width: 670px){
	//	margin-top: 120px;
    //
	//}
	img.logo{
		margin-top: 28px;
		height: 50px;
	}
	.diagonals {
		height: 100%;
		grid: repeat(2,200px)/1fr minmax(0,1000px) 1fr;
		align-content: space-between;
		background: linear-gradient(100grad,#545fdd,#6772e5 50%);
		@media (min-width: 670px) {
			height: calc(100% - 120px);
		}
		:nth-child(1) {
			grid-column: 2;
			background: linear-gradient(100grad,rgba(41,50,205,0) 70%,rgba(41,50,205,.5));
		}
		:nth-child(2) {
			background: linear-gradient(100grad,#76eea7,#4acf8c);
		}
		:nth-child(3) {
			grid-row: 2;
			background: linear-gradient(100grad,#6adaff,rgba(106,218,255,.7));
		}
	}
	.about__title {
		margin-top: 90px;
		margin-bottom: 35px;
		font-weight: bold;
		/* font-size: 30px; */
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		color: #74dbf9;
	}
	.about__description{
		font-family: 'Raleway', sans-serif;
		color:#FFF;
		.about__description--info{
			text-align: justify;
		}
	}
	.skills__contenido{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
		.skills__contenido--title {
			border-radius: 4px 4px;
			padding: 11px 0;
			text-align: center;
			color: #24b47e;
			background: #f2feef;
		}
		.skills__contenido--description{
			padding: 20px;
			color: #6b7c93;
			ul{
				list-style: none;
				li {
					position: relative;
					padding-left: 28px;
					line-height: 26px;
					&:before {
						content: url('../img/checkmark.svg');
						position: absolute;
						top: 3px;
						left: 0;
						width: 19px;
					}
				}
			}
		}
	}

}

#projects{
	.section {
		background-attachment: fixed;
		background-size: auto 80%;
		background-position: 50% 0%;
		background-repeat: no-repeat;
	}
	#section1 {
		background-image: url(../img/proyect1.png);
	}
	#section2 {
		background-image: url(../img/proyect2.png);
	}
	#section3 {
		background-image: url(../img/proyect3.png);
	}
	#arrow {
		width: 100%;
		height: 50px;
		text-align: center;
		cursor: pointer;
		position: fixed;
		bottom: 0;
		left: 0;
		border: 0;
		outline: 0;
		z-index: 100;
		color: #BBB;
		background: transparent;
		-moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
		-o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
		-webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
		transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
		font: 36px Heiti, 'Lucida Grande', Arial;
		font-weight: bold;
		&:hover {
			background: #DDBA59;
			span {
				top: 0;
				color: #FFF;
			}
		}
		span {
			 display: inline-block;
			 position: relative;
			 top: -18px;
			 -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
			 -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
			 -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
			 transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
		 }
	}

}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
	border-color: #bbb !important;
}