@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1); }
  30% {
    -webkit-transform: scale(1.1); }
  40% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes heartbeat-x {
  0% {
    -webkit-transform: scaleX(0); }
  10% {
    -webkit-transform: scaleX(1); }
  20% {
    -webkit-transform: scaleX(0); }
  30% {
    -webkit-transform: scaleX(1); }
  40% {
    -webkit-transform: scaleX(0); } }
@keyframes heartbeat {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  20% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  40% {
    transform: scale(1); } }
@keyframes heartbeat-x {
  0% {
    transform: scaleX(0); }
  10% {
    transform: scaleX(1); }
  20% {
    transform: scaleX(0); }
  30% {
    transform: scaleX(1); }
  40% {
    transform: scaleX(0); } }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

.diagonals {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: grid;
  transform: skewY(-7deg); }

a {
  cursor: pointer;
  text-decoration: none; }

#home {
  background-image: url("../img/background-home.svg");
  background-color: white;
  background-position: center bottom 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  width: 100%; }
  #home nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    color: #fff;
    height: 80px;
    z-index: 1000;
    background: none;
    -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
    #home nav .home__nav--bar {
      padding: 0;
      z-index: 2000;
      margin-top: 0;
      width: 100%;
      height: 100px;
      background: transparent;
      -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
      @media (min-width: 670px) {
        #home nav .home__nav--bar {
          padding: 20px 0; } }
      #home nav .home__nav--bar #logo {
        display: none; }
      #home nav .home__nav--bar #toggle {
        height: 74px;
        padding: 18px 18px;
        z-index: 2000;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1);
        transition: padding-top 0.6s cubic-bezier(0.1, 0.01, 0.3, 1); }
        @media (min-width: 670px) {
          #home nav .home__nav--bar #toggle {
            padding: 26px 42px; } }
        #home nav .home__nav--bar #toggle .menu {
          position: relative;
          height: 2px;
          width: 17px;
          text-align: right;
          margin: 10px 0;
          background: white;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out; }
          @media (min-width: 670px) {
            #home nav .home__nav--bar #toggle .menu {
              height: 4px;
              width: 24px; } }
          #home nav .home__nav--bar #toggle .menu:before {
            top: -5px; }
            @media (min-width: 670px) {
              #home nav .home__nav--bar #toggle .menu:before {
                top: -8px; } }
          #home nav .home__nav--bar #toggle .menu:after {
            top: 5px; }
            @media (min-width: 670px) {
              #home nav .home__nav--bar #toggle .menu:after {
                top: 8px; } }
          #home nav .home__nav--bar #toggle .menu:before, #home nav .home__nav--bar #toggle .menu:after {
            content: '';
            width: 17px;
            height: 2px;
            z-index: -1;
            display: block;
            position: absolute;
            background: white;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out; }
            @media (min-width: 670px) {
              #home nav .home__nav--bar #toggle .menu:before, #home nav .home__nav--bar #toggle .menu:after {
                width: 24px;
                height: 4px; } }
        #home nav .home__nav--bar #toggle:hover {
          transition: top 0.4s;
          -webkit-transition: top 0.4s;
          -o-transition: top 0.4s;
          -moz-transition: top 0.4s; }
          #home nav .home__nav--bar #toggle:hover .menu:before {
            top: -6px; }
            @media (min-width: 670px) {
              #home nav .home__nav--bar #toggle:hover .menu:before {
                top: -9px; } }
          #home nav .home__nav--bar #toggle:hover .menu:after {
            top: 6px; }
            @media (min-width: 670px) {
              #home nav .home__nav--bar #toggle:hover .menu:after {
                top: 9px; } }
    #home nav .home__nav--background {
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1500;
      display: table;
      background: none;
      position: absolute;
      transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -webkit-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -moz-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -o-transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
      #home nav .home__nav--background ul {
        top: -10%;
        padding: 0;
        opacity: 0;
        width: 100%;
        text-align: center;
        visibility: hidden;
        display: table-cell;
        vertical-align: middle;
        transform: perspective(600px) rotateX(10deg);
        -webkit-transform: perspective(600px) rotateX(10deg);
        -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        -moz-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63); }
        #home nav .home__nav--background ul li {
          visibility: hidden; }
          #home nav .home__nav--background ul li a {
            color: white;
            width: 100%;
            display: block;
            padding: 8px 0 0;
            letter-spacing: -0.06em; }
            #home nav .home__nav--background ul li a:hover {
              text-decoration: none;
              color: #43458b;
              background-color: white; }
    #home nav.open {
      height: 100%;
      transition: none;
      -o-transition: none;
      -moz-transition: none;
      -webkit-transition: none; }
      #home nav.open .menu {
        background: none !important; }
        #home nav.open .menu:after {
          top: 0 !important;
          background: #fff !important;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg); }
        #home nav.open .menu:before {
          top: 0 !important;
          background: #fff !important;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
      #home nav.open .home__nav--background {
        opacity: 1;
        background-color: rgba(225, 162, 78, 0.91) !important;
        transition: background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
        #home nav.open .home__nav--background ul {
          top: 0;
          opacity: 1;
          margin-top: 0;
          visibility: visible;
          transform: perspective(600px) rotateX(0deg);
          -webkit-transform: perspective(600px) rotateX(0deg);
          -moz-transform: perspective(600px) rotateX(0deg);
          -ms-transform: perspective(600px) rotateX(0deg);
          -o-transform: perspective(600px) rotateX(0deg); }
          #home nav.open .home__nav--background ul li {
            color: #fff;
            font-size: 40px;
            visibility: visible !important; }
            @media (min-width: 670px) {
              #home nav.open .home__nav--background ul li {
                font-size: 60px; } }
            #home nav.open .home__nav--background ul li a {
              position: relative; }
              #home nav.open .home__nav--background ul li a:after {
                content: ".";
                color: #32325d;
                font-size: 13rem;
                position: absolute;
                bottom: -24px; }
                @media (min-width: 670px) {
                  #home nav.open .home__nav--background ul li a:after {
                    bottom: -14px; } }
                #home nav.open .home__nav--background ul li a:after:hover {
                  color: #E1A24E; }
    #home nav .top-nav-collapse {
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      height: 56px;
      background-color: rgba(225, 162, 78, 0.47); }
      @media (min-width: 670px) {
        #home nav .top-nav-collapse {
          height: 77px; } }
      #home nav .top-nav-collapse #logo {
        display: inline-block;
        padding: 15px 17px;
        font-size: 18px;
        color: white; }
        @media (min-width: 670px) {
          #home nav .top-nav-collapse #logo {
            padding: 0 42px;
            font-size: 21px;
            height: 74px; } }
  #home .home__contenido {
    display: flex;
    align-items: center;
    height: 100vh; }
    @media (min-width: 900px) {
      #home .home__contenido .center-block {
        width: 632px;
        max-width: 935px; } }
    #home .home__contenido .title {
      padding: 0;
      font-size: 4rem !important;
      font-weight: 700;
      color: #FFF !important; }
      @media (min-width: 670px) {
        #home .home__contenido .title {
          font-size: 7rem !important; } }
    #home .home__contenido .subtitle {
      font-size: 18px;
      color: #2b355f; }
      @media (min-width: 670px) {
        #home .home__contenido .subtitle {
          font-size: 32px; } }
    #home .home__contenido .network-links {
      margin-top: 30px; }
      #home .home__contenido .network-links li {
        display: inline-block;
        padding: 0;
        text-align: center; }
        #home .home__contenido .network-links li a {
          width: 38px; }
    #home .home__contenido a.btn {
      animation: heartbeat 1.7s infinite ease-in;
      text-decoration: none;
      transition: all .5s ease-out;
      color: #FFF;
      max-height: 38px;
      font-size: 24px;
      padding: 0; }
      #home .home__contenido a.btn:hover {
        color: #2b355f;
        transform: scale(1.2); }

#cite {
  padding-top: 95px;
  margin-bottom: 250px;
  color: #c4c8d8; }
  @media (min-width: 670px) {
    #cite {
      margin-bottom: 0;
      height: 500px; } }
  #cite h3 {
    font-size: 21px;
    color: #32325d;
    font-weight: 300; }
    @media (min-width: 670px) {
      #cite h3 {
        font-size: 24px; } }
    #cite h3 i {
      font-size: 12px; }
      @media (min-width: 670px) {
        #cite h3 i {
          font-size: 20px; } }
  #cite svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: rgba(107, 124, 147, 0.23);
    z-index: -1; }
    @media (min-width: 670px) {
      #cite svg {
        display: none;
        top: -88px; } }

#editor {
  display: flex;
  margin: 20px 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }
  #editor .custom-line-numbers {
    list-style: none;
    text-align: right;
    background: #eeeaf9;
    color: #946af7;
    border-radius: 2px 0 0 2px;
    padding: 12px;
    font-size: 13px;
    line-height: 1.5; }
  #editor code {
    display: block;
    overflow: auto;
    padding: 12px;
    font-size: 13px;
    line-height: 1.5;
    color: #6b7c93;
    background-color: #FFF; }
  #editor code, #editor pre {
    font-family: Source Code Pro,Consolas,Menlo,monospace; }
  #editor pre {
    margin: 0;
    padding: 0;
    display: flex; }
    #editor pre > * {
      padding: 12px;
      font-size: 13px;
      line-height: 1.5; }

#about .panel {
  color: #32325d; }
  #about .panel .panel-profile-img {
    max-width: 100%;
    margin-top: -161px;
    margin-bottom: 20px;
    border: 3px solid #fff;
    border-radius: 50%; }
#about .diagonals {
  background-color: #4b3958;
  background: -webkit-linear-gradient(top left, #000936, #4b3958 50%, #894671);
  background: linear-gradient(to bottom right, #000936, #4b3958 50%, #894671);
  height: 900px;
  align-content: space-between; }
#about .container {
  display: flex;
  align-items: center;
  flex-direction: column; }
  #about .container .card {
    width: 686px;
    max-width: 935px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -180px;
    background-color: #FFF;
    box-shadow: 0 55px 70px -20px rgba(50, 50, 93, 0.55), 0 20px 30px -10px rgba(0, 0, 0, 0.14); }
    @media (min-width: 1000px) {
      #about .container .card {
        width: 935px;
        max-width: 935px; } }
    #about .container .card div:nth-child(1) {
      height: 256px; }
      @media (min-width: 1000px) {
        #about .container .card div:nth-child(1) {
          height: 350px; } }
    @media (min-width: 670px) {
      #about .container .card .about__photo {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-repeat: no-repeat;
        background-image: url(../img/retol.png);
        background-size: contain;
        background-position: center left;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; } }
    #about .container .card .about__description {
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: 16px;
      color: #32325d;
      padding: 40px;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      transform: skew(-12deg);
      transform-origin: 0 0;
      pointer-events: none;
      border-top-right-radius: 10px; }
      #about .container .card .about__description .about__description--info {
        transform: skew(12deg); }
  #about .container .skills {
    margin-top: 90px;
    margin-bottom: 50px; }
    #about .container .skills .skills__title {
      color: #FFF;
      margin-bottom: 40px;
      padding-left: 78px;
      position: relative; }
      #about .container .skills .skills__title h2 {
        font-size: 25px; }
      #about .container .skills .skills__title figure {
        top: -20px;
        position: absolute;
        margin: 0;
        left: 0; }
      #about .container .skills .skills__title .phrase {
        color: #E1A24E; }
    #about .container .skills .skills__description {
      color: #bdcfe8;
      text-align: justify; }
      @media (min-width: 768px) {
        #about .container .skills .skills__description {
          padding-left: 78px; } }
      #about .container .skills .skills__description a {
        color: #bdcfe8;
        font-weight: 700; }
        #about .container .skills .skills__description a:hover {
          text-decoration: none; }
    #about .container .skills .skills__list {
      margin-top: 107px; }
      #about .container .skills .skills__list .skills__contenido--description {
        padding: 20px;
        color: #bdcfe8; }
        #about .container .skills .skills__list .skills__contenido--description ul {
          list-style: none; }
          #about .container .skills .skills__list .skills__contenido--description ul li {
            position: relative;
            padding-left: 28px;
            line-height: 26px; }
            #about .container .skills .skills__list .skills__contenido--description ul li:before {
              content: url("../img/checkmark.svg");
              position: absolute;
              top: 3px;
              left: 0;
              width: 19px; }
#about .gris {
  background-color: #eaf2f3; }
  #about .gris .barra {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    #about .gris .barra img {
      width: 700px; }

#projects {
  margin-top: 80px;
  margin-bottom: 80px; }
  #projects .featurette-divider {
    margin: 80px 0; }
  #projects .lead {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 15px;
    text-align: justify;
    color: #32325d; }
  #projects .featurette-heading {
    font-weight: 700;
    text-align: center;
    color: #32325d;
    line-height: 1;
    letter-spacing: 2px; }
    @media (min-width: 992px) {
      #projects .featurette-heading {
        font-weight: 700;
        margin-top: 120px; } }
    @media (min-width: 768px) {
      #projects .featurette-heading {
        text-align: left;
        font-size: 50px; } }
    #projects .featurette-heading .text-muted {
      letter-spacing: 0;
      font-weight: 400;
      font-size: 25px;
      color: #E1A24E; }
      @media (min-width: 768px) {
        #projects .featurette-heading .text-muted {
          font-size: 40px; } }
  #projects .video-phone {
    background: url(../img/iphone.png) no-repeat 0 0;
    background-size: 334px 639px;
    width: 373px;
    height: 646px;
    padding: 85px 53px 22px 14px; }
    #projects .video-phone video {
      height: 81%; }
  #projects .video-laptop {
    background: url(../img/laptop.png) no-repeat 0 0;
    background-size: 797px 490px;
    width: 803px;
    height: 492px;
    padding: 43px 9px 0px 1px; }
    #projects .video-laptop video {
      height: 83%; }
  #projects .video-phone,
  #projects .video-laptop {
    position: relative;
    display: inline-block; }
    #projects .video-phone .video-wrap,
    #projects .video-laptop .video-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden; }
      #projects .video-phone .video-wrap video,
      #projects .video-laptop .video-wrap video {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
  #projects .buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around; }
    @media (min-width: 670px) {
      #projects .buttons {
        justify-content: space-between; } }
    #projects .buttons .btn-draw {
      text-decoration: none;
      position: relative;
      display: inline-block;
      color: #E1A24E;
      border-bottom: 2px solid #E1A24E;
      cursor: pointer;
      overflow: hidden;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
      #projects .buttons .btn-draw:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 2px;
        background: #E1A24E;
        transform: translateY(100%);
        transition: transform 0.2s ease-in-out;
        transition-delay: 0.6s; }
      #projects .buttons .btn-draw > span {
        position: relative;
        display: block;
        padding: 0.5em;
        color: inherit; }
        #projects .buttons .btn-draw > span:before, #projects .buttons .btn-draw > span:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background: #E1A24E;
          transition: transform 0.2s ease-in-out; }
        #projects .buttons .btn-draw > span:before {
          height: 2px;
          width: 100%;
          transform: translateX(100%);
          transition-delay: 0.4s; }
        #projects .buttons .btn-draw > span:after {
          height: 100%;
          width: 2px;
          transform: translateY(-100%);
          transition-delay: 0.2s; }
      #projects .buttons .btn-draw:hover:after, #projects .buttons .btn-draw:hover > span:before, #projects .buttons .btn-draw:hover > span:after {
        transform: translate(0, 0); }
      #projects .buttons .btn-draw:hover:after {
        transition-delay: 0s; }
      #projects .buttons .btn-draw:hover > span:before {
        transition-delay: 0.2s; }
      #projects .buttons .btn-draw:hover > span:after {
        transition-delay: 0.4s; }
      #projects .buttons .btn-draw:hover {
        color: #32325d;
        transition-delay: 0.6s; }

#contact {
  color: #32325d;
  background-color: #f8fafd; }
  #contact .contact__description {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 670px) {
      #contact .contact__description {
        height: 300px; } }
    #contact .contact__description .mg-2em {
      margin: 2em 0; }
    #contact .contact__description .contact_title {
      font-size: 20px;
      font-weight: 700;
      margin: 1em 0;
      color: #32325d;
      text-transform: uppercase;
      letter-spacing: .1em;
      line-height: 40px;
      border-bottom: solid 1px rgba(137, 148, 198, 0.5); }
    #contact .contact__description .contact__description--info :nth-child(1),
    #contact .contact__description .contact__description--info :nth-child(2) {
      margin-bottom: 15px; }
    #contact .contact__description p {
      margin: 0;
      font-size: 15px; }
    #contact .contact__description .network-links li {
      display: inline-block;
      padding: 0;
      text-align: center; }
      #contact .contact__description .network-links li a {
        width: 38px; }
    #contact .contact__description a.btn {
      text-decoration: none;
      transition: all .5s ease-out;
      color: #8994c6;
      max-height: 38px;
      font-size: 24px;
      padding: 0; }
      #contact .contact__description a.btn:hover {
        color: #32325d;
        transform: scale(1.2); }
    #contact .contact__description a.email {
      transition: all .5s ease-out;
      font-weight: 700;
      color: #32325d; }
      #contact .contact__description a.email:hover {
        color: #000;
        transform: scale(1.2);
        background-size: 100% 2px; }

#footer {
  background-color: #32325d; }
  #footer #32325d
  .container {
    height: 83px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #footer .footer__copy {
    font-size: 14px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: #eaeaea; }
    @media (min-width: 670px) {
      #footer .footer__copy {
        font-size: 15px; } }
    #footer .footer__copy i {
      color: #E1A24E;
      -webkit-animation: heartbeat 1.7s infinite ease-in;
      animation: heartbeat 1.7s infinite ease-in; }

/*# sourceMappingURL=main.css.map */
