/* animation sets */
.page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both; }

.page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both; }

.page-moveFromTop {
  -webkit-animation: moveFromTop .6s ease both;
  animation: moveFromTop .6s ease both; }

.page-moveFromBottom {
  -webkit-animation: moveFromBottom .6s ease both;
  animation: moveFromBottom .6s ease both; }

/* move to with different  easing */
.page-moveToLeftEasing {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both; }

.page-moveToRightEasing {
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both; }

.page-moveToTopEasing {
  -webkit-animation: moveToTop .7s ease-in-out both;
  animation: moveToTop .7s ease-in-out both; }

.page-moveToBottomEasing {
  -webkit-animation: moveToBottom .7s ease-in-out both;
  animation: moveToBottom .7s ease-in-out both; }

/* keyframes */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%); } }
@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }
@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%); } }
@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%); } }
@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }
@-webkit-keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%); } }
@keyframes moveToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%); } }
@keyframes moveFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
@-webkit-keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%); } }
@keyframes moveToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%); } }
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
* {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.diagonals {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: grid;
  transform: skewY(-12deg); }

header .diagonals {
  top: 0;
  grid: repeat(4, 200px)/repeat(10, 1fr);
  transform-origin: 0;
  background: linear-gradient(#507eb1, #709dc7 10%, #dde9f5 38%, #eaf2f9 48%, #f6f9fc 62%); }
  header .diagonals :nth-child(1) {
    grid-column: span 3;
    background: linear-gradient(100grad, rgba(243, 251, 255, 0.4), rgba(243, 251, 255, 0.15) 20%, rgba(243, 251, 255, 0)); }
  header .diagonals :nth-child(2) {
    grid-area: 3/span 3/auto/-1; }
    @media (min-width: 670px) {
      header .diagonals :nth-child(2) {
        background: linear-gradient(100grad, rgba(0, 119, 204, 0), rgba(0, 119, 204, 0.05) 40%, rgba(0, 119, 204, 0.35)); } }
  header .diagonals :nth-child(3) {
    grid-row: 4;
    grid-column: span 5; }
    @media (min-width: 670px) {
      header .diagonals :nth-child(3) {
        background: linear-gradient(100grad, #fff 50%, rgba(255, 255, 255, 0)); } }
  header .diagonals :nth-child(4) {
    grid-area: 4/span 5/auto/-1; }
    @media (min-width: 670px) {
      header .diagonals :nth-child(4) {
        background: linear-gradient(100grad, rgba(0, 119, 204, 0) 10%, rgba(0, 119, 204, 0.05)); } }
  header .diagonals :nth-child(5) {
    grid-area: auto/1/-1/-1;
    background: linear-gradient(100grad, #fff 80%, #f5fafd); }
header .jumbotron {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: transparent; }
  header .jumbotron .title {
    text-transform: uppercase;
    font-size: 10rem !important;
    font-family: 'Lato', sans-serif;
    color: #1d1d5c !important;
    font-weight: bold; }
  header .jumbotron .subtitle {
    font-size: 23px !important;
    color: #5e6d89;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter; }
  header .jumbotron .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    header .jumbotron .buttons :nth-child(1) {
      margin-right: 10px;
      background: #fff;
      color: #DDBA59; }
    header .jumbotron .buttons .btn {
      font-weight: 200;
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      cursor: pointer; }
      header .jumbotron .buttons .btn:hover {
        transform: translateY(1px);
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
    header .jumbotron .buttons .atc {
      background-color: #DDBA59;
      color: white; }
      header .jumbotron .buttons .atc:hover {
        color: #FFF; }

/*# sourceMappingURL=main.css.map */
